{extend name="common@body"/}
{block name="title"}登陆{/block}
{block name="style"}
<style>
    body {
        background-color: #2D2D2D
    }
</style>
{/block}
{block name="body"}
{load href="/static/admin/style.css"}
<div id="mydiv">
    <div class="login-main">
        <div class="layui-elip">YZNCMS管理系统&nbsp;<span class="version">v1.0.0</span></div>
        {:widget('common/submit/form',[
            [
                widget('common/submit/input',['账号','username']),
                widget('common/submit/input',['密码','password']),
                widget('common/submit/captcha',['验证码','verify'])
            ]
        ])}
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['form', 'layer', 'jquery'], function() {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;

        //自定义验证规则
        form.verify({
            username: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,password: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });


        //登录
        form.on("submit(login)", function(data) {
            var action = $(data.form).attr('action');
            console.log(action);
            console.log($(data.form).serialize());
            $.post(action, $(data.form).serialize(), success, "json");
            //$.post(action, {username:'xiaomin','password':'123456','verify':'1'}, success, "json");
            //return false;
            function success(data) {
                if (data.code) {
                    layer.msg('登入成功', {
                        offset: '15px',
                        icon: 1,
                        time: 1000
                    }, function() {
                        window.location.href = data.url;
                    });
                } else {
                    layer.msg(data.msg, { icon: 5 });
                    //刷新验证码
                    $("#verify").click();
                }
            }
        });



        //表单输入效果
        $(".login-main .input-item").click(function(e) {
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        });
        $(".login-main .input-item .layui-input").focus(function() {
            $(this).parent().addClass("layui-input-focus");
        });
        $(".login-main .input-item .layui-input").blur(function() {
            $(this).parent().removeClass("layui-input-focus");
            if ($(this).val() != '') {
                $(this).parent().addClass("layui-input-active");
            } else {
                $(this).parent().removeClass("layui-input-active");
            }
        });

        //刷新验证码
        $("#verify_img").click(function() {
            var verifyimg = $("#verify_img").attr("src");
            $("#verify_img").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
        });
    })
</script>
{/block}