<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

    {load href="public/static/js/jquery-3.3.1.min.js"}
    {load href="public/static/bts/css/bootstrap.min.css"}
    {load href="public/static/bts/js/bootstrap.min.js"}
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <style>
        .fontSize{
            font-size: 23px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <form action="" method="post" role="form" class="form-horizontal">
            <legend>登录</legend>

            <div class="form-group">
                <label for="" class="col-xs-2 fontSize">账号：</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="" id="" placeholder="Input...">

                </div>
            </div>



            <button type="submit" class="btn btn-primary">确定</button>
        </form>
    </div>
    <div class="col-xs-3"></div>
</div>
</body>
</html>