{extend name="common@body" /}
{block name="title"}登陆{/block}
{block name="style"}
<style>
    .fontSize{
        font-size: 23px;
    }
</style>
{/block}
{block name="body"}
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <form action="" method="post" role="form" class="form-horizontal">
            <legend>登录</legend>

            <div class="form-group">
                <label for="" class="col-xs-2 fontSize">账号：</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="" id="" placeholder="Input...">

                </div>
            </div>

            <button type="submit" class="btn btn-primary">确定</button>
        </form>
    </div>
    <div class="col-xs-3"></div>
</div>
{/block}